body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiTableCell-root .MuiTableCell-body .MuiTableCell-sizeSmall {
    border-bottom: transparent !important;
}

a {
    color: #ff8f00;
}

hr.solid {
    border: 1px solid rgba(255, 255, 255, .1);
}

.feature-title {
    color: #ff8f00;
}

/*
.makeStyles-root-1 {
    overflow: auto !important;
}*/


.carousel-container {
    max-width: calc(100vw - 400px);
}

.carousel-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.react-multi-carousel-dot--active button {
    background: #ff8f00 !important;
}